<div class="ui container">
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ui form"}) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <div class="ui left icon input">
            <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password %>
          <div class="ui left icon input">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %>
          <div class="ui left icon input">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= f.button "Sign up", class: "ui blue submit button" %>
        <% end %>
      </div>
      <div class="middle aligned column">
        <div class="field">
          <%= link_to "Log in", session_path(resource_name), class: "ui big button" %>
        </div>
      </div>
    </div>
    <div class="ui vertical divider">
      Or
    </div>
  </div>
</div>

<!-- <%= render "devise/shared/links" %>  -->
