<%= link_to 'Pretro', root_path, class: 'item' %>
<%= link_to 'Home', root_path, class: 'item' %>
<%= link_to 'Teams', teams_path, class: 'item' %>
<% if user_signed_in? %>
<div class="right menu">
  <div class="ui simple dropdown item" id="dropdown">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to 'Profile', current_user, class: 'item' %>
      <%= link_to 'Settings', edit_user_registration_path, class: 'item' %>
      <div class="divider"></div>
      <%= link_to 'Log out', destroy_user_session_path, class: 'item', method: :delete %>
    </div>
  </div>
</div>
<% end %>