<%= link_to 'Pretro', root_path, class: 'item' %>
<%= link_to 'Home', root_path, class: 'item' %>
<%= link_to 'Teams', teams_path, class: 'item' %>
<% if user_signed_in? %>
<div class="right menu">
  <div class="ui simple dropdown item" id="dropdown">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to 'Profile', root_path, class: 'item' %>
      <%= link_to 'Settings', root_path, class: 'item' %>
      <div class="divider"></div>
      <%= link_to 'Log out', root_path, class: 'item' %>
    </div>
  </div>
</div>
<% end %>