<!DOCTYPE html>
<html>
  <head>
    <title>Pretro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted menu">
      <div class="ui container">
        <%= render 'layouts/navigation'%>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
